/* This is an example of how to import a partial scss file*/
@import '_variables';
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";


body {
  font-family: 'Comfortaa';
}

* {
  // border: 1px solid gray;
  margin: 0;
}
//Header
header {
  background-image: url('../images/suitcase.png');
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 395px;

}

.dest-image {
  border-radius: 5px;
  max-height: 100%;
  max-width: 80%;
  min-height: 100%;
  min-width: 80%;
  margin-left: 18%;

}

p {
  text-align: center;
}

.login-message {
  width: 50%;
}

.travel-title {
  color: #052414;
  display: flex;
  font-size: 60px;
  margin-left: 8%;
  margin-top: 5%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  padding: 1%;
}

.login-container{
  display:flex;
  flex-direction: column;
  width: 80%;
  margin-left: 60px;
}

.login {
  display: flex;
  flex-direction: row;
  height: 30px;
  margin-left: 10%;
  margin-top: 2%;
}
.greeting {
  margin-top: 1.5%;
  width: 35%;

}

.trips-view {
  display: flex;
  height: 40px;
  margin-right: 4%;
  margin-top: 2%;
  width: 10%;
}

.book-getaway-heading {
  color: #052414;
  display: flex;
  font-size: 19px;
  margin-left: 6%;
  margin-top: 4%;
  margin-bottom: 2%;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  width: 150px;
}

.book-trip {
  background-color: #D3EFE9;
  display: flex;
  margin-left: 2%;
  padding: 1.5%;
  width: 50%;
  border-radius: 30px;
}

.days,
.guests,
.start-date,
.destination-dropdown,
.user-name,
.password,
.trip-type {
  border: none;
  border-radius: 6px;
  margin: 3px;
  text-align: center;
}

.start-date,
.destination-dropdown {
  width: 50%;
  min-width: 30%;
}

.days,
.guests {
  width: 25%;
  // min-width: 20%;
}

.estimate-calculation {
  display: flex;
  font-size: larger;
  margin-left: 18%;
  margin-top: 1%;
  padding: 0% 1% 1%;
}

.button,
.login-button {
  background-color: #FE395C;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-weight: 700;
  line-height: 18px;
  margin-left: 4%;
  padding: 1% 2%;
  // height: 50%;
}

.button:hover {
  color: blue;
}

.estimate-button {
  height: 50%;
  width: 20%;
}

.book-button {
  height: 50%;
  width: 10%;
}
//------------> Bottom section

.bottom-heading {
  text-align: center;
}

.destinations {
  height: 42%;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}

.user-trips-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.trips-display {
  color: black;
  display: grid;
  // display: flex;
  // flex-wrap: wrap;
  margin-bottom: 20px;
  // height: 185px;
  text-align: center;

}

.trips-img {
  // width: 30px;
  height: 250px;
  border-radius: 5px;
  // max-height: 100%;
  max-width: 80%;
  // min-height: 100%;
  min-width: 80%;
  margin-left: 10%;
}

.hidden {
  display:none;
}
