/* This is an example of how to import a partial scss file*/
@import '_variables';
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";


body {
  font-family: 'Comfortaa';
}

* {
  // border: 1px solid gray;
  margin: 0;
}
//Header
header {
  background-image: url('../images/suitcase.png');
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 395px;

}

img {
  border-radius: 2%;
  max-height: 100%;
  max-width: 80%;
  min-height: 100%;
  min-width: 80%;
  margin-left: 18%;

}

p {
  text-align: center;
}

.travel-title {
  color: #062C19;
  display: flex;
  font-size: 60px;
  margin-left: 8%;
  margin-top: 5%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  padding: 1%;
}

.login {
  display: flex;
  flex-direction: row;
  height: 30px;
  margin-right: 20%;
  margin-top: 2%;
}
.user-name {

}

.trips-view {
  display: flex;
  height: 40px;
  margin-right: 4%;
  margin-top: 2%;
}

.book-getaway-heading {
  color: #062C19;
  display: flex;
  margin-left: 6%;
  margin-top: 4%;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  width: 150px;
}

.book-trip {
  background-color: #D3EFE9;
  display: flex;
  margin-left: 2%;
  padding: 2%;
  width: 50%;
  border-radius: 30px;
}

.days,
.guests,
.start-date,
.destination-dropdown,
.user-name,
.password,
.trip-type {
  border: none;
  border-radius: 6px;
  margin: 3px;
  text-align: center;
}

.start-date,
.destination-dropdown {
  width: 60%;
}

.days,
.guests {
  width: 25%;
}

.estimate-calculation {
  display: flex;
  margin-left: 30%;
  padding: 1%;
}

.button,
.login-button {
  background-color: #FE395C;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 4%;
  padding: 1% 2%;
  // height: 50%;
}

.estimate-button {
  height: 50%;
  width: 20%;
}

.book-button {
  height: 50%;
  width: 10%;
}
//------------> Bottom section

.bottom-heading {
  text-align: center;
}

.destinations {
  height: 42%;
  width: 95%;
  display: flex;
  justify-content: center;
}

.trips-display {
  color: red;
}

.hidden {
  display:none;
}
